* {
  margin: 0;
  padding: 0;
  font-family: 'Comfortaa', cursive;
}

:root {
  --color-header: #122A57;
  --color-white: #FFFFFF;
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  font-size: 1.6rem;
}